/*td:focus:not(.no_focus) {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
}
input.error {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	outline: thin auto red;
}
input:not(.no_focus) {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
	outline-offset: 0px;
	border: none;
}*/

h2 {
  margin-top: 90px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

body .container .hero-unit #mainTable thead tr th #asc {
	width: 30px;
	height: 30px;
	/*visibility: hidden;*/
}

@media (min-width: 900px) {
	/*#search {
		width: 200px;
	}*/
  .container {
    min-width: 900px;
  }
}

.btn {
  cursor: pointer;
}
.bill-file {
  cursor: pointer;
}

/*#mainTable thead th, #mainTable tbody td {
  width: 25%;
}*/
#mainTable td + td, #mainTable th + th {
	text-align: right;
}

#mainTable thead tr th {
  cursor: pointer;
}

#mainTable td {
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*select {
	background-color: white;
	border: none;
	text-align: right;
}*/

#search {
	margin-right: 10px;
}

@media (max-width: 576px) {
	#search {
		width: 200px;
	}
}

#mainTable {
	margin-bottom: 70px;
}



header nav > button {
  margin-left: 30px;
}

body > .container {
  padding: 20px 15px 0;
}



.dropbtn {
   padding: 4px 6px;
   cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 80px;
   max-height: 320px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   /*padding: 12px 16px;*/
   text-decoration: none;
   display: block;
   border-style: solid;
   border-width: 0.5px;
   border-color: #eee;
   text-align: center;
   user-select: none;
   cursor: pointer;
}
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.date-separator {
  font-size: 25px;
  margin: 0px 5px;
  vertical-align: middle;
}
.time-range {
  margin-left: 20px;
}
#time-filter {
  border-radius: 13px;
  margin-left: 3px;
}
#timeMode {
  right: 50px;
  position: absolute;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

  background-color: #f5f5f5;
}

footer > .container {
  padding-right: 10px;
  padding-left: 10px;
}

footer .stat-group {
  bottom: 5px;
  position: absolute;
}

#viewOrderBtn {
	bottom: 10px;
  right: 100px;
  position: absolute;
}

