td:focus:not(.no_focus) {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
}
input.error {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	outline: thin auto red;
}
input:not(.no_focus) {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	outline: rgb(91, 157, 217) auto 5px;
	outline-offset: 0px;
	border: none;
}

h2 {
	margin-top: 90px;
	width: 100%;
	text-align: center;
}

body .container .hero-unit #mainTable thead tr th #asc {
	width: 30px;
	height: 30px;
	/*visibility: hidden;*/
}

/*#mainTable thead th, #mainTable tbody td {
  width: 25%;
}*/
#mainTable td + td, #mainTable th + th {
	text-align: right;
}

#mainTable td {
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
}

#mainTable td button {
	padding-left: 0;
	padding-right: 0;
}

#mainTable td button img{
	padding-left: 0;
	padding-right: 0;
}

select {
	background-color: white;
	border: none;
	text-align: right;
}

#search {
	margin-right: 10px;
}

@media (max-width: 576px) {
	#search {
		width: 200px;
	}
}

#mainTable {
	margin-bottom: 70px;
}

#deleteBtn {
	margin: 0px;
	padding: 0px;
}
#updateBtn {
	margin-left: 20px;
}

/*table.scrollable thead tr, table.scrollable tfoot tr  {
	position: relative;
	display: block
}*/

/*html>body table.scrollable tbody {
	display: block;
	height: 330px;
	overflow: auto;
	width: 100%
}*/

/*html>body table.scrollable td, html>body table.scrollable th {
	width: 200px
}*/

/*html {
  position: relative;
  min-height: 100%;
}*/
/*body {
  margin-bottom: 60px;
}*/

header nav > button {
  margin-left: 30px;
}

body > .container {
  padding: 20px 15px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

footer > .container {
  padding-right: 10px;
  padding-left: 10px;
}


